@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

footer.main-footer {
    --glitch-bg-clr: var(--bg-clr-dark);
    --glitch-txt-clr: var(--txt-clr-light);
    --accent-clr: var(--txt-clr-light);
    background-color: var(--bg-clr-dark);
    color: var(--txt-clr-light);
    .Container {
        section.footer_about {
            padding: var(--section-gap) 0 calc(var(--gap) * 0.75) 0;
        }
        // @include flex(c, c, c);
        // padding: var(--gap) 0;
        // gap: calc(var(--gap) / 2);
        // h2 {
        //     white-space: nowrap;
        //     color: var(--bg-clr);
        // }
        // nav {
        //     width: 100%;
        //     ul {
        //         width: 100%;
        //         @include flex(r, c, c);
        //         gap: var(--gap);
        //         li {
        //             transition: transform var(--time-fast) var(--animation);
        //             a {
        //                 svg {
        //                     --icon-size: 2rem;
        //                     box-shadow: var(--shadow);
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}

// footer {
//     width: 100vw;
//     .Container {
//         form {
//             // @include flex(r, c, c);
//             .inputFiled:focus-within {
//             }
//         }
//     }
//     .scroll-Top {
//         width: 5rem;
//         height: 5rem;
//         border-radius: 50%;
//         border: 3px solid rgb(255, 20, 81);
//         background-color: rgb(255, 20, 81);
//         color: #fff0e5;
//         cursor: pointer;
//         line-height: 4.5rem;
//         font-size: 2rem;
//         text-align: center;
//         p {
//             margin: auto;
//         }
//     }
//     .scroll-Top:hover {
//         background-color: rgb(255, 20, 81);
//         color: #fff0e5;
//     }
//     .mine {
//         width: 100%;
//         text-align: center;
//         font-size: 1.5rem;

//         p {
//             margin: 0;
//             color: #fff0e5;
//             a {
//                 text-decoration: underline;
//                 color: rgb(255, 20, 81);
//                 font-weight: bold;
//             }
//         }
//     }
// }
