:root {
  --clr-white: 0, 0%, 100%;
  --clr-black: 0, 0%, 0%;
  --clr-light-gray-400: 210, 5%, 92%;
  --clr-light-gray-500: 120, 2%, 91%;
  --clr-light-gray-700: 0, 0%, 82%;
  --clr-light-gray-800: 220, 2%, 34%;
  --clr-gray: 192, 3%, 61%;
  --clr-dark-charcoal-500: 225, 7%, 12%;
  --clr-dark-charcoal-700: 220, 7%, 8%;
  --clr-blue: 232, 79%, 59%;
  --clr-dark-blue: 231, 65%, 51%;
  --clr-red: 0, 68%, 47%;
  --clr-green: 120, 68%, 47%;
  /* Colors */
  --bg-clr-light: hsla(var(--clr-light-gray-400), 1);
  --bg-clr-dark: hsla(var(--clr-dark-charcoal-500), 1);
  --txt-clr-dark: hsla(var(--clr-dark-charcoal-500), 1);
  --txt-clr-light: hsla(var(--clr-white), 1);
  --border-clr-dark: hsla(var(--clr-dark-charcoal-500), 0.176);
  --border-clr-light: hsla(var(--clr-white), 0.5);
  --border-clr-solid-dark: hsla(var(--clr-light-gray-800), 1);
  --border-clr-solid-light: hsla(var(--clr-light-gray-700), 1);
  --error-clr-light: hsla(var(--clr-red), 1);
  --success-clr-light: hsla(var(--clr-green), 1);
  --primary-clr-light: hsla(var(--clr-blue), 1);
  --primary-clr-dark: hsla(var(--clr-dark-blue), 1);
  --mono-clr-dark: hsla(var(--clr-gray), 1);
  --mono-clr-light: hsla(var(--clr-light-gray-500), 1);
  --bg-clr: var(--bg-clr-light);
  --txt-clr: var(--txt-clr-dark);
  --primary-clr: var(--primary-clr-dark);
  --mono-clr: var(--mono-clr-dark);
  --border-clr: var(--border-clr-solid-dark);
  --error-clr: var(--error-clr-light);
  --success-clr: var(--success-clr-light);
}

:root {
  --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
  --container-padding: clamp(2.5em, 8vw, 8em);
  --d-title-xl: 7rem;
  --t-title-xl: 95px;
  --d-title-l: 3.5rem;
  --t-title-l: 2.9375rem;
  --d-title-m: 1.875rem;
  --t-title-m: 1.5625rem;
  --border-radius-s: 0.25rem;
  --border-radius-m: 0.5rem;
  --d-text: 1rem;
  --green: #c2eabd;
  --desktop-title-xxl: 12.75rem;
  --size: 0px;
}

[aria-labelledby="hero title"] .Container .Hero {
  display: flex;
}

[aria-labelledby="hero title"] .Container .Hero {
  flex-direction: row;
}

/* 
    ? font families
--ff-inter -> sans-serif, main font
--ff-playfair -> san
--ff-modern_society -> display font, for Studio logo 
--ff-rakkas -> display font, for hefnawy logo
--ff-Diwani -> display font, for cool staff
*/
:root {
  --fs-sm: 0.7125rem;
  --fs-base: 1.03125rem;
  --fs-md: 1.25rem;
  --fs-lg: 2.5rem;
  --fs-xl: 6.25rem;
  --fs-xxl: 15.625rem;
  --fs-xxxl: clamp(4.75rem, calc(35vw - 6rem), 25rem);
  --ls-xs: -0.04em;
  --ls-sm: -0.02em;
  --ls-md: -0.015em;
  --ls-lg: -0.01em;
  --ls-base: 0em;
  --ls-xl: 0.02em;
}

@media print {
  :root {
    --fs-sm: 0.625rem;
    --fs-base: 0.875rem;
    --fs-md: 1.125rem;
    --fs-lg: 1.75rem;
    --fs-xl: 3.125rem;
    --fs-xxl: 5rem;
    --fs-xxxl: 6.25rem;
  }
}
body {
  font-family: var(--ff-inter);
  font-size: var(--fs-base);
  font-style: normal;
  line-height: 1.6;
  letter-spacing: var(--ls-base);
  font-weight: 450;
  font-optical-sizing: auto;
  font-feature-settings: "liga" 1, "calt" 1;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(h1, h2, h3, h4, p, a:not(.Button), span) {
  margin: 0;
  font-size: var(--fs-base);
}

:where(h1, h2, h3, h4) {
  text-transform: capitalize;
}

.h1 {
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: var(--ls-sm);
  margin: 0.5em 0;
}

.h3 {
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: var(--ls-md);
  margin: 0.6em 0;
}

.h4 {
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: var(--ls-lg);
  margin: 0.75em 0;
}

.p {
  font-weight: 450;
  margin: 0.6em 0;
  text-decoration: none;
}

small,
.small {
  font-size: var(--fs-sm);
  letter-spacing: var(--ls-xl);
  font-weight: 200;
  text-transform: uppercase;
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-base {
  font-size: var(--fs-base);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.fs-xxxl {
  font-size: var(--fs-xxxl);
}

.ls-xs {
  letter-spacing: var(--ls-xs);
}

.ls-sm {
  letter-spacing: var(--ls-sm);
}

.ls-md {
  letter-spacing: var(--ls-md);
}

.ls-lg {
  letter-spacing: var(--ls-lg);
}

.ls-base {
  letter-spacing: var(--ls-base);
}

.ls-xl {
  letter-spacing: var(--ls-xl);
}

input,
button,
textarea,
a,
select,
span {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

:root {
  --container-width: calc(100% - 5rem);
  --radius: 0.35rem;
  --shadow: 0 6px 30px rgba(0, 0, 0, 10%);
  --margin: min(12em, 12vh);
  --icon-size: 1rem;
  --icon-clr: var(--bg-clr);
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --time-fast: 0.2s;
  --time-slow: 0.4s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
  font: inherit;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: clip;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@supports not (overflow: clip) {
  html,
  body {
    overflow-x: hidden;
  }
}
html,
html:focus-within {
  scroll-behavior: smooth;
  text-size-adjust: none;
  font-size: 100%;
  cursor: default;
  overflow-wrap: anywhere;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.Container {
  height: 100%;
  width: var(--container-width, 90%);
  margin-inline: auto;
}

::-moz-selection {
  background-color: var(--primary-clr);
  color: var(--bg-clr);
}

::selection {
  background-color: var(--primary-clr);
  color: var(--bg-clr);
}

::-webkit-selection {
  background-color: var(--primary-clr);
  color: var(--bg-clr);
}

::-moz-focus-inner {
  border: none;
}

:focus-visible {
  outline: 3px solid var(--border-clr);
}

:disabled,
.disabled {
  --focus-ring-clr: var(--mono-clr);
  filter: grayscale(90%);
  opacity: 0.9;
  cursor: not-allowed !important;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a,
ul a {
  text-decoration: none;
}

img {
  max-width: 100%;
  block-size: auto;
  inline-size: auto;
  max-inline-size: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: none;
  shape-margin: 0.75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  box-shadow: none;
  pointer-events: none;
  isolation: isolate;
}

.Line {
  background-color: var(--accent-clr, hsl(225, 7%, 12%));
}

#input-date {
  cursor: pointer;
}

.form-input {
  font-size: var(--fs-base);
  border: 0.1em solid var(--mono-clr);
  border-radius: var(--radius);
  padding: max(0.5em, 0.5rem) max(1em, 1rem);
  background-color: var(--bg-clr);
  color: var(--txt-clr);
  box-shadow: var(--shadow);
}

.form-label.required::after {
  content: "*";
  position: absolute;
  top: -20%;
  right: -20%;
  font-size: 1.2em;
  color: var(--error-clr);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--fs-s);
  gap: 0.8em;
  text-align: left;
}
form p[date-form-error=waiting] {
  color: var(--txt-clr);
}
form p[date-form-error=error] {
  color: var(--error-clr);
}
form p[date-form-error=success] {
  color: var(--success-clr);
}

:where(.Button) {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  display: inline-flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  padding: max(0.5em, 0.5rem) max(1em, 1rem);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 450;
  font-size: var(--fs-base);
  line-height: 1;
  border-radius: var(--radius);
  background-color: var(--accent-clr, hsl(225, 7%, 12%));
  color: var(--btn-txt-clr, hsl(210, 5%, 92%));
  border: none;
  box-shadow: var(--shadow);
}

@supports not ((width: -moz-fit-content) or (width: fit-content)) {
  .button {
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
@supports not (padding: max(0.5em, 0.5rem) max(1em, 1rem)) {
  .button {
    padding: 0.5em 1em;
  }
}
:where(.Button:not(:last-of-type)) {
  margin-right: 1.2rem;
  margin-top: 0;
}

@media (hover: hover) and (pointer: fine) {
  :where(.Button):not(.disabled, :disabled):hover {
    opacity: 0.9;
  }
}
:where(.Button):active {
  transform: scale(0.95);
}

:where(.Button.icon-only) {
  padding: max(1em, 1rem);
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.btn-primary {
  --accent-clr: var(--primary-clr);
  --btn-txt-clr: var(--bg-clr);
}

.btn-mono-dark {
  --accent-clr: var(--bg-clr-dark);
  --btn-txt-clr: var(--txt-clr-light);
}

.btn-mono-light {
  --accent-clr: var(--txt-clr-light);
  --btn-txt-clr: var(--bg-clr-dark);
}

.button :where(svg, img, span) {
  pointer-events: none;
}

.button.icon-only {
  padding: max(1em, 1rem);
  box-shadow: none;
}

.Logo {
  font-weight: var(--fw-m);
  filter: blur(0.05px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.logo_main {
  font-family: var(--ff-rakkas);
  font-size: var(--fs-lg);
}

.logo_studio {
  font-family: var(--ff-modern_society);
}

.txt-animation {
  opacity: 0.4;
  transform: translateX(-25%);
  animation: text-animation calc(var(--time-slow) * 2.5) var(--animation) forwards;
}

.loeadToDown {
  transform: translateY(-100%);
  opacity: 0.5;
  animation: loeadToDown calc(var(--time-slow) * 2) var(--animation) forwards;
}

@keyframes navSlideIn {
  0% {
    transform: translateY(-125%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes navSlideOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-125%);
  }
}
@keyframes loeadToDown {
  0% {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes text-animation {
  from {
    opacity: 0.4;
    transform: translateX(-25%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
  .card:hover span {
    transform: translateX(4px);
  }
}
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.accent-X-clr {
  --accent-clr: var(--accent-X-clr);
  --accent-shadow-clr: var(--clr-teal-blue-500);
}

:root {
  --glitch-intensity: -3px;
  --glitch-speed: 2s;
  --glitch-bg-clr: var(--bg-clr);
  --glitch-txt-clr: var(--txt-clr);
}

.Loading {
  background-color: var(--glitch-bg-clr);
}
.Loading .Container .Logo {
  color: var(--glitch-txt-clr);
}
.Loading .Container .logo_main {
  font-size: var(--fs-lg);
}
.Loading .Container .logo_studio {
  font-size: var(--fs-xl);
}

.glitch {
  overflow: hidden;
}

.glitch::after,
.glitch::before {
  content: attr(data-text);
  font-size: 100%;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 0;
  color: var(--glitch-txt-clr);
  background: var(--glitch-bg-clr);
  overflow: hidden;
  clip: rect(0, 0px, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: -1;
  text-shadow: 2px 0 var(--error-clr);
}

.glitch::after {
  left: var(--glitch-intensity);
  animation: noise-anim var(--glitch-speed) linear infinite alternate-reverse;
}

.glitch::before {
  left: calc(var(--glitch-intensity) * -1.5);
  animation: noise-anim-2 calc(var(--glitch-speed) + 1s) linear infinite alternate-reverse;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes noise-anim {
    0% {
      clip: rect(98px, 9999px, 117px, 0);
    }
    4% {
      clip: rect(61px, 9999px, 1px, 0);
    }
    8% {
      clip: rect(55px, 9999px, 51px, 0);
    }
    12% {
      clip: rect(8px, 9999px, 147px, 0);
    }
    16% {
      clip: rect(36px, 9999px, 118px, 0);
    }
    20% {
      clip: rect(71px, 9999px, 184px, 0);
    }
    24% {
      clip: rect(93px, 9999px, 14px, 0);
    }
    28% {
      clip: rect(31px, 9999px, 129px, 0);
    }
    32% {
      clip: rect(45px, 9999px, 216px, 0);
    }
    36% {
      clip: rect(63px, 9999px, 166px, 0);
    }
    40% {
      clip: rect(98px, 9999px, 223px, 0);
    }
    44% {
      clip: rect(31px, 9999px, 120px, 0);
    }
    48% {
      clip: rect(25px, 9999px, 166px, 0);
    }
    52% {
      clip: rect(72px, 9999px, 78px, 0);
    }
    56% {
      clip: rect(6px, 9999px, 208px, 0);
    }
    60% {
      clip: rect(28px, 9999px, 173px, 0);
    }
    64% {
      clip: rect(88px, 9999px, 103px, 0);
    }
    68% {
      clip: rect(32px, 9999px, 95px, 0);
    }
    72% {
      clip: rect(3px, 9999px, 78px, 0);
    }
    76% {
      clip: rect(6px, 9999px, 204px, 0);
    }
    80% {
      clip: rect(12px, 9999px, 42px, 0);
    }
    84% {
      clip: rect(2px, 9999px, 104px, 0);
    }
    88% {
      clip: rect(28px, 9999px, 52px, 0);
    }
    92% {
      clip: rect(23px, 9999px, 12px, 0);
    }
    96% {
      clip: rect(32px, 9999px, 4px, 0);
    }
    100% {
      clip: rect(21px, 9999px, 239px, 0);
    }
  }
  @keyframes noise-anim-2 {
    0% {
      clip: rect(21px, 9999px, 55px, 0);
    }
    4% {
      clip: rect(88px, 9999px, 186px, 0);
    }
    8% {
      clip: rect(72px, 9999px, 128px, 0);
    }
    12% {
      clip: rect(61px, 9999px, 74px, 0);
    }
    16% {
      clip: rect(41px, 9999px, 238px, 0);
    }
    20% {
      clip: rect(14px, 9999px, 24px, 0);
    }
    24% {
      clip: rect(60px, 9999px, 138px, 0);
    }
    28% {
      clip: rect(100px, 9999px, 165px, 0);
    }
    32% {
      clip: rect(29px, 9999px, 98px, 0);
    }
    36% {
      clip: rect(34px, 9999px, 248px, 0);
    }
    40% {
      clip: rect(2px, 9999px, 111px, 0);
    }
    44% {
      clip: rect(58px, 9999px, 191px, 0);
    }
    48% {
      clip: rect(95px, 9999px, 111px, 0);
    }
    52% {
      clip: rect(84px, 9999px, 76px, 0);
    }
    56% {
      clip: rect(53px, 9999px, 41px, 0);
    }
    60% {
      clip: rect(88px, 9999px, 36px, 0);
    }
    64% {
      clip: rect(50px, 9999px, 16px, 0);
    }
    68% {
      clip: rect(11px, 9999px, 248px, 0);
    }
    72% {
      clip: rect(98px, 9999px, 126px, 0);
    }
    76% {
      clip: rect(93px, 9999px, 241px, 0);
    }
    80% {
      clip: rect(39px, 9999px, 150px, 0);
    }
    84% {
      clip: rect(6px, 9999px, 71px, 0);
    }
    88% {
      clip: rect(41px, 9999px, 50px, 0);
    }
    92% {
      clip: rect(20px, 9999px, 30px, 0);
    }
    96% {
      clip: rect(18px, 9999px, 184px, 0);
    }
    100% {
      clip: rect(69px, 9999px, 220px, 0);
    }
  }
}
main#Hero {
  width: 100%;
  padding-top: var(--Header-hight);
  margin-bottom: calc(var(--margin) * 2.5);
}

[aria-labelledby="hero title"] {
  width: 100vw;
}
[aria-labelledby="hero title"] .Container {
  --container-width: 80%;
}
[aria-labelledby="hero title"] .Container .Hero {
  width: 100%;
  height: 100%;
}
[aria-labelledby="hero title"] .Container .Hero > * {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 769px) {
  [aria-labelledby="hero title"] .Container .Hero {
    flex-direction: column;
  }
  [aria-labelledby="hero title"] .Container .Hero > * {
    width: 100%;
    height: 50%;
  }
}
footer.main-footer {
  --glitch-bg-clr: var(--bg-clr-dark);
  --glitch-txt-clr: var(--txt-clr-light);
  --accent-clr: var(--txt-clr-light);
  background-color: var(--bg-clr-dark);
  color: var(--txt-clr-light);
}
footer.main-footer .Container section.footer_about {
  padding: var(--section-gap) 0 calc(var(--gap) * 0.75) 0;
}

@media screen and (min-width: 100em) {
  .Container {
    --container-width: calc(1600px - 6rem);
  }
}
/* Tablet and Smaller Desktop */
@media screen and (max-width: 48em) {
  .Container {
    --container-width: calc(100% - 2.5rem);
  }
}
/*For tablets */
/* Enable hover only on non-touch devices */
@supports (overflow-x: clip) {
  html,
  body {
    overflow-x: clip;
  }
}
@supports not (height: 100svh) {
  .Loader {
    height: 100vh;
  }
}
@supports not (inset: 0) {
  .logo_studio {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
/* For people who have motion sickness. */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}/*# sourceMappingURL=index.css.map */